extends layout

block content
  div.jumbotron
    h1 Make the Happi Foto life!
    a.btn.btn-large.btn-success(href='/browse') Go look now!
  hr
  div.row.info-row
    div.span4
      h2 Find
      p Happi Foto!
      img(src='http://th09.deviantart.net/fs71/PRE/f/2013/045/c/c/le_happy_face_by_luchocas-d5uwq7r.png')
    div.span4
      h2 Link
      p Happi Foto!
      img(src='http://www.villaluna-trogir.com/images/link.png')
    div.span4
      h2 Talk
      p Happi Foto!
      img(src='http://2.bp.blogspot.com/-N9TThHOIOOM/TohuZfn5qmI/AAAAAAAAATc/eoVhvgmmT-g/s1600/250px-Talk_face_svg_.png')
  hr
